name: Autograding

on: [push, pull_request]

jobs:
  autograding:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '16'
        cache: 'npm'

    - name: Install Dependencies
      run: npm install

    - name: Autograding
      uses: education/autograding@v1